@import './login.css';

.row {
    display: flex;
    gap: 50px;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.container {
    width: 500px;
}
